.scroll-down {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    margin-top:60px;
    
    position: relative;
    left:51%;
}

.scroll-down:hover {
    opacity: 1;
}

.arrow {
    border: solid #999;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

.scroll-down:hover .arrow {
    transform: rotate(45deg) translateY(5px);
}