<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блок "Главный экран"</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="header__navbar">
        <a href="/" class="header__logo header__logo--text">Смета-сервис</a>
      </nav>
      <div class="header__content">
        <h2 class="title header__title"><strong>Разработаем и защитим смету</strong> для вашего проекта</h2>
        <p class="subtitle header__subtitle">Составим отчетную документацию. Возьмем Вашу компанию на сметный аутсорсинг.</p>
        <div class="header__features">
          <ul class="header__list">
            <li class="header__list-item">
              <strong>Работаем под ключ:</strong> от заключения договора - до сдачи заказчику, сопровождаем заказчика до
              получения положительного заключения государственной экспертизы (при необходимости)
            </li>
            <li class="header__list-item">
              <strong>Составляем сметы любой сложности:</strong> на строительство, ремонт, пуско-наладочные и монтажные
              работы, проектные и изыскательные работы
            </li>
            <li class="header__list-item">
              <strong>Применяем нормативные базы:</strong> ФЕР, ТСНБ, МРР, СБЦ, РСС, НЦС
            </li>
          </ul>
          <ul class="header__list">
            <li class="header__list-item">
              <strong>Рассчитываем сметы для разных целей:</strong> коммерческие, укрупненные для инвестиций, сметы для
              участия в тендерах и для работы с бюджетными организациями
            </li>
            <li class="header__list-item">
              <strong>Подготовим отчетные документы на выполненные работы:</strong> КС-2, КС-3, КС-6а, КС-11, М-29,
              КС-6а
            </li>
            <li class="header__list-item">
              <strong>Составляем сводные и объектные сметы</strong>
            </li>
          </ul>
        </div>
      </div>
      <div class="promo">
        <div class="promo__text">
          Акция: <strong>при стоимости работ по расчету сметы от 10 000,00 руб. КС-2, КС-3 в подарок.</strong>
        </div>
        <div class="promo__button-container">
          <button class="button button--black position--bottom">
            Заказать
          </button>
        </div>
        <div class="promo__price-tag">
          <img src="/assets/images/sale.svg" alt="Акция">
        </div>
      </div>
      <div class="scroll-down">
        <div class="arrow"></div>
    </div>
  </header>
</body>

</html>