<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блок "Как мы работаем"</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="how-we-work">
        <div class="container">
            <h1 class="title title--strong how-we-work__title br">Как мы работаем</h1>
            
            <div class="how-we-work__info">
                <div class="how-we-work__steps">
                    <div class="how-we-work__step">
                        <span class="how-we-work__step-number">1</span>
                        <p class="how-we-work__step-description"> <strong>Напишите или позвоните нам </strong></p>
                    </div>
                    <div class="how-we-work__step">
                        <span class="how-we-work__step-number">2</span>
                        <p class="how-we-work__step-description"> <strong>Совместно с Вами мы согласуем удобный Вам формат работы</strong></p>
                    </div>
                    <div class="how-we-work__step">
                        <span class="how-we-work__step-number">3</span>
                        <p class="how-we-work__step-description"> <strong> Подготовьте исходные данные для составления сметы. </strong> <br><br> <span class="text-medium">(проектные решения, осмечиваемые тома с ведомостями материалов, спецификацией оборудования и другими необходимыми данными).</span></p>
                    </div>
                </div>
                
                <div class="how-we-work__notice">
                    <h2 class="how-we-work__notice-title">Обратите внимание что:</h2>
                    <p class="how-we-work__notice-text text-min">
                        При составлении сметы на текущий или выборочный ремонт, нам будет достаточно дефектных ведомостей, если у вас их нет - наши специалисты смогут их подготовить;
                        <br><br>
                        При составлении дефектной ведомости на ремонтные работы, работы по обследованию конструкций и выдача рекомендаций по принятию технических и проектных решений по состоянию конструктивных элементов и целесообразности их инструментального обследования или замены, в объем работ по составлению дефектовки не входит.
                        <br><br>
                        Заказчик несет ответственность за конечный результат в случае неправильного проектного решения, отклонения от утвержденного проекта или технического задания. Данные отклонения должны фиксироваться дополнительными соглашениями к договору на разработку сметы!
                    </p>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>