<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блок "Как мы работаем"</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="how-we-work">
        <div class="container">
            <h1 class="title title--strong how-we-work__title br">Как мы работаем</h1>
            
            <div class="how-we-work__info">
                <div class="how-we-work__steps">
                    <div class="how-we-work__step">
                        <span class="how-we-work__step-number">1</span>
                        <p class="how-we-work__step-description">Напишите или позвоните нам</p>
                    </div>
                    <div class="how-we-work__step">
                        <span class="how-we-work__step-number">2</span>
                        <p class="how-we-work__step-description">Совместно с Вами мы согласуем удобный Вам формат работы</p>
                    </div>
                    <div class="how-we-work__step">
                        <span class="how-we-work__step-number">3</span>
                        <p class="how-we-work__step-description">Подготовьте исходные данные для составления сметы</p>
                    </div>
                </div>
                
                <div class="how-we-work__notice">
                    <h2 class="how-we-work__notice-title">Обратите внимание что:</h2>
                    <p class="how-we-work__notice-text">
                        Для составления сметы не терпите ни давления времени, ни других факторов. Каждый из нас — наш собственный эксперт.
                        <br><br>
                        Поддержите открытый диалог и измените детали, получите видение проекта, а затем вместе решите, какие шаги предпринимать.
                    </p>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>