<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блок "Стоимость услуг"</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section class="price">
    <div class="container price__container">
      <h2 class="title price__title br">Стоимость наших услуг</h2>
      <div class="price__cards">
        <div class="price__card">
          <h3 class="subtitle price__card-title br--yellow">По объектам гражданского и производственного назначения</h3>
          <ul class="price__list">
            <li class="price__item">Минимальная сумма заказа по общестроительным работам – 4 000 рублей</li>
            <li class="price__item">До 1 млн. <strong> — 1% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 1 млн. — до 5 млн. <strong> — 0,8% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 5 млн — до 10 млн. <strong> — 0,6% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 10 млн. <strong>— 0,5% от стоимости работ по смете</strong></li>
          </ul>
          <button class="button button--yellow price__button">Заказать</button>
        </div>
        <div class="price__card price__card--highlighted">
          <h3 class="subtitle price__card-title br--yellow">По специальным, технически сложным и уникальным объектам</h3>
          <ul class="price__list">
            <li class="price__item">До 1 млн. — 3% от стоимости работ по смете</li>
            <li class="price__item">Свыше 1 млн. до 10 млн. — 2% от стоимости работ по смете</li>
            <li class="price__item">Свыше 10 млн. до 20 млн. — 1% от стоимости работ по смете</li>
            <li class="price__item">Свыше 20 млн. — 0,5% от стоимости работ по смете</li>
          </ul>
          <button class="button button--yellow price__button">Заказать</button>
        </div>
        <div class="price__card">
          <h3 class="subtitle price__card-title br--yellow">Дополнительные услуги</h3>
          <ul class="price__list">
            <li class="price__item">Проверка и экспертиза сметной документации — <b>5000 ₽</b></li>
            <li class="price__item">Редактирование сметных документов — <b>5000 ₽</b></li>
            <li class="price__item">Консультации по ведению проектов, помощь в составлении смет — <b>5000 ₽</b></li>
            <li class="price__item">Выезд специалиста на объект — <b>от 1000 ₽ за поездку по Москве и 1500 ₽ за поездку за МКАД</b></li>
          </ul>
          <button class="button button--yellow price__button">Заказать</button>
        </div>
      </div>
      <div class="price__note">
        <p>Проектные и изыскательские работы — <b>40000 рублей</b> (за раздел сметы).</p>
        <p>Расчеты производятся с применением сметных программных комплексов <b>Смета ру</b> и <b>Турбо сметчик</b>.</p>
        <p>Для получения стоимости по вашему проекту – напишите нам</p>
      </div>
      <button class="button button--yellow price__contact-button">Написать</button>
    </div>
  </section>
  
</body>
</html>