<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блок "Стоимость услуг"</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section class="price">
    <div class="container price__container">
      <h2 class="title price__title br">Стоимость наших услуг</h2>
      <div class="price__cards">
        <div class="price__card">
          <h3 class="subtitle price__card-title br--yellow">По объектам гражданского и производственного назначения</h3>
          <ul class="price__list">
            <li class="price__item">Минимальная сумма заказа по общестроительным работам – 4 000 рублей</li>
            <li class="price__item">До 1 млн. <strong> — 1% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 1 млн. — до 5 млн. <strong> — 0,8% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 5 млн — до 10 млн. <strong> — 0,6% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 10 млн. <strong>— 0,5% от стоимости работ по смете</strong></li>
          </ul>
          <button class="button button--yellow price__button">Заказать</button>
        </div>
        <div class="price__card">
          <h3 class="subtitle price__card-title br--yellow">По специальным, технически сложным и уникальным объектам</h3>
          <ul class="price__list">
            <li class="price__item">До 1 млн. <strong>— 3% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 1 млн. до 10 млн. <strong> — 2% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 10 млн. до 100 млн. <strong> — 1% от стоимости работ по смете</strong></li>
            <li class="price__item">Свыше 100 млн. <strong> — 0,5% от стоимости работ по смете</strong></li>
          </ul>
          <button class="button button--yellow price__button">Заказать</button>
        </div>
        <div class="price__card">
          <h3 class="subtitle price__card-title br--yellow">Дополнительные услуги</h3>
          <ul class="price__list">
            <li class="price__item">Проверка и экспертиза сметной документации — <b> с коэфф. 0.5;</b></li>
            <li class="price__item">С составлением дефектных ведомостей (выезд оплачивается отдельно) — <b> с коэфф. 1.5;</b></li>
            <li class="price__item">Составление дефектных ведомостей (без составления сметы) рассчитывается исходя из объема работ и места нахождения объекта: 1 выезд 1 специалист  — <b>7 000,00 рублей + 15 руб./км свыше 10 км от МКАД</b></li>
          </ul>
          <button class="button button--yellow price__button">Заказать</button>
        </div>
      </div>
      <div class="price__note">
        <p>Проектные и изыскательские работы — <b>40000 рублей</b> (за раздел сметы).</p>
        <p class="subtitle price__note-subtitle">Расчеты производятся с применением сметных программных комплексов <b>Смета ру</b> и <b>Турбо сметчик</b>.</p>
        <p>Для получения стоимости по вашему проекту – напишите нам</p>
      </div>
      <button class="button button--black price__contact-button">Написать</button>
    </div>
    <div class="picture picture--left">
        <img src="/assets/images/flower-left.svg" alt="Расстение цветок">
    </div>
  </section>
  
</body>
</html>