
.header {
  display: flex;
  align-items: center;
  padding: 25px 0;
  background-image: url(/assets/images/bg-header.png);
  background-color: #F9FAFB;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 32%;
}

.header__navbar{
  margin-bottom: 160px;
}

.header__logo--text{
  font-size: 3rem;
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
}

.header__content {
  flex: 1;
  z-index: 10;
}

.header__features {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.header__features::before{
  display: block;
  content: "";
  width: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.header__list {
  list-style-type: none;
}

.header__list-item {
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 85%;
}

